/*reset bill chen(48838096@qq.com)*/
/*element*/
/*html,body*/
html,body {
    height: 100%
}
body {
    text-align:center;
    background-color: #f1f1f1;
    color: #333;
    line-height:1.5;
}
a {
    color:#08c;
}
/*form*/
form {
    text-align: center;
}
form fieldset {
    text-align: left;
}
input, select, textarea, button, .button {
    box-sizing: border-box;
    border: 1px solid transparent;
    border-color: rgb(204, 204, 204);
    display: inline-block;
    padding:5px 12px;
}
input[type=checkbox], input[type=radio] {
    padding: 0;
}
button, .button, input[type=submit], input[type=reset], input[type=button] {
    color: #333;
    padding: 6px 24px;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color:white;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover, .button:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}
input[disabled], select[disabled], textarea[disabled], button[disabed], .disabled {
    cursor: not-allowed;
}
form button[type=submit], form input[type=submit] {
    padding:6px 28px;
}
/*element end*/
/*class*/
.color-red {
    color:red;
}
.color-green {
    color:green;
}
.color-black {
    color:black;
}
.color-white {
    color:white;
}
.color-purple {
    color:purple;
}
.color-orange {
    color:orange;
}
.color-yellow {
    color:yellow;
}
.color-blue {
    color:blue;
}
.color-gray {
    color:gray;
}
.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.inline-block {
    vertical-align: middle;
    display:inline-block;
    *zoom:1;
    *display:inline;
}
.text-left {
    text-align:left;
}
.text-right {
    text-align:right;
}
.text-center {
    text-align:center;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.clearfix::after {
    content:" ";
    display:block;
    clear: both;
    height:0;
}
/*class end*/
.header, .footer {
    width: 100%;
}
.footer {
    padding-top: 60px;
}
.wrap {
    margin:0 auto;
    text-align: left;
}
/*panel*/
.panel {
    border: 1px solid transparent;
    box-sizing: border-box;
    background-color:white;
    margin: .75em 0;
}
.panel>.head {
    padding: .625em .9em;
    font-size:1.25em;
    line-height: 1;
}
.panel>.body {
    padding: 1.125em;
}
/*default-panel*/
.default-panel {
    border:1px solid #ddd;
    border-radius:3px;
}
.default-panel>.head {
    border-bottom: 1px solid #ddd;
    background-color:#e1e1e1;
}